/*
* KINDNESS SCREEN
*/

@font-face {
	font-family: Kindness;
	src: url('../font/Kindness.ttf');
}

@font-face {
	font-family: LoveYaLikeASister;
	src: url('../font/LoveYaLikeASister.ttf');
}
/*
* SKY
*/  
.kindnessScreen .sky{
  font-family: LoveYaLikeASister;  
  background: #b0ddd6;
  padding-top: 30px;
  padding-bottom: 100%;
}

.fixKindnessfont{
    font-size: 30px;   
 }

.kindnessScreen .cloud{
  position: absolute;
  z-index: 0;

  -ms-transition: -ms-transform 2s;
  -webkit-transition: webkit-transform 2s; /* Safari */
  transition: transform 2s;
}

.kindnessScreen .skyBeach{
  width: 100%;
  margin-top: -70px;
}

/*
* Buttons
*/ 
.button{
  float: initial;
  padding: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button h1 {
  position: absolute;
}

.sky .button h1 {
  margin-top: 10px;
  margin-left: 40px;
}
  
.beach .button h1 {
    margin-top: 17.5px;
    margin-left: 75px;
}
       

