/* Master Styles */
@font-face {
  font-family: LoveYaLikeASister;
  src: url("./font/LoveYaLikeASister.ttf"); 
 }
 
@font-face {
  font-family: Kindness;
  src: url("./font/Kindness.ttf"); 
 }

body{
  margin: 0;
  font-family: Kindness;
}

.flip{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.bg{
    position: absolute;
    transition: background 1s ease;
}


.centerContent{
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 35%;
}









