/*
* INCLUDE FONTS
*/
@font-face {
  font-family: Kindness;
  src: url("../../font/Kindness.ttf"); }
@font-face {
  font-family: LoveYaLikeASister;
  src: url("../../font/LoveYaLikeASister.ttf"); }
/*
* MIXIMS
*/
/*
* KINDNESS SCREEN
*/
/* KindSubmit Button */
.inactive {
  opacity: .3;
  cursor: not-allowed; }

.kindnessScreen {
  /* Save & Kindness Buttons */
  /*
  * SKY
  */
  /* sky */
  /*
  * BEACH
  */
  /*
  * SEA
  */ }
  .kindnessScreen .button {
    float: initial;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center; }
  .kindnessScreen .sky {
    font-family: LoveYaLikeASister;
    background: #b0ddd6;
    padding-top: 30px;
    padding-bottom: 90px; }
    .kindnessScreen .sky .cloud1 {
      position: absolute;
      z-index: 0;
      top: 150px;
      -ms-transition: -ms-transform 2s;
      -webkit-transition: webkit-transform 2s;
      /* Safari */
      transition: transform 2s; }
    .kindnessScreen .sky .cloud1 {
      top: 50px;
      left: -50px; }
    .kindnessScreen .sky h1 {
      position: absolute;
      margin-top: 10px;
      margin-left: 40px; }
    .kindnessScreen .sky .fixKindnessfont {
      font-size: 30px; }
  .kindnessScreen .skyBeach {
    margin-top: -70px; }
  .kindnessScreen .beach {
    margin-top: -10px;
    background: #fffdd7;
    font-family: Kindness;
    font-size: 50pt;
    line-height: 20px;
    padding-bottom: 50px; }
    .kindnessScreen .beach .furniture {
      opacity: .5;
      width: 200px;
      top: 340px;
      left: 20px;
      position: absolute;
      pointer-events: none; }
    .kindnessScreen .beach .button {
      margin: 50px; }
    .kindnessScreen .beach h1 {
      position: absolute;
      margin-top: 17.5px;
      margin-left: 75px;
      font-size: 90px; }
    .kindnessScreen .beach .beachInput {
      padding: 20px;
      height: 60px; }
      .kindnessScreen .beach .beachInput ::-webkit-input-placeholder {
        color: black;
        font-family: kindness;
        font-size: 60px;
        padding: 0px 0px 0px 0px;
        line-height: 60px;
        width: 80%; }
      .kindnessScreen .beach .beachInput :-moz-placeholder {
        /* Firefox 18- */
        color: black;
        font-family: kindness;
        font-size: 60px;
        padding: 0px 0px 0px 0px;
        line-height: 60px;
        width: 80%; }
      .kindnessScreen .beach .beachInput ::-moz-placeholder {
        /* Firefox 19+ */
        color: black;
        font-family: kindness;
        font-size: 60px;
        padding: 0px 0px 0px 0px;
        line-height: 60px;
        width: 80%; }
      .kindnessScreen .beach .beachInput :-ms-input-placeholder {
        color: black;
        font-family: kindness;
        font-size: 60px;
        padding: 0px 0px 0px 0px;
        line-height: 60px;
        width: 80%; }
      .kindnessScreen .beach .beachInput input {
        background: none;
        border: none;
        color: black;
        font-family: kindness;
        font-size: 60px;
        padding: 0px 0px 0px 0px;
        line-height: 60px;
        width: 80%;
        line-height: 0px; }
      .kindnessScreen .beach .beachInput img {
        float: right;
        width: 35px;
        margin-top: 20px;
        margin-right: 10px; }
      .kindnessScreen .beach .beachInput .underline {
        pointer-events: none;
        font-size: 15vw; }
  .kindnessScreen .beachSea {
    margin-top: -10px; }
  .kindnessScreen .sea {
    margin-top: -12.5px;
    background: #b4e3eb;
    color: white;
    height: 800px;
    padding: 10px;
    padding-top: 20px; }
    .kindnessScreen .sea p {
      font-family: LoveYaLikeASister;
      line-height: 20px;
      width: 90%;
      font-size: 15px;
      margin-top: 0px; }
    .kindnessScreen .sea .moreIcon {
      width: 30px;
      margin-top: -5px;
      position: absolute;
      right: 15px;
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -webkit-transform: rotate(180deg);
      /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      -ms-transition: -ms-transform 2s;
      -webkit-transition: webkit-transform 2s;
      /* Safari */
      transition: transform 2s; }
    .kindnessScreen .sea .sailboat {
      position: absolute;
      z-index: 1;
      width: 250px; }
    .kindnessScreen .sea #messagesDiv {
      margin-top: 40px;
      width: auto;
      height: 600px;
      overflow: scroll;
      position: absolute;
      z-index: 2; }
      .kindnessScreen .sea #messagesDiv div p {
        font-family: Kindness;
        font-size: 25px;
        width: 100%;
        margin-bottom: 5px; }
      .kindnessScreen .sea #messagesDiv div .divider {
        font-size: 70px;
        margin-bottom: 7.5px; }
      .kindnessScreen .sea #messagesDiv div .deleteIcon {
        float: right;
        width: 15px;
        margin-right: 15px; }

/*# sourceMappingURL=kindness.css.map */
