/*
* INCLUDE FONTS
*/
@font-face{
	font-family: Kindness;
	src: url('../../font/Kindness.ttf');
}

@font-face{
	font-family: LoveYaLikeASister;
	src: url('../../font/LoveYaLikeASister.ttf');
}

/*
* MIXIMS
*/
@mixin input-placeholder($color) {
   color: $color;
   font-family: kindness;  
   font-size: 60px;
   padding: 0px 0px 0px 0px;
   line-height: 60px;
   width: 80%;
}

/*
* KINDNESS SCREEN
*/

/* KindSubmit Button */
.inactive{
    opacity: .3;
    cursor: not-allowed;
}
    
.kindnessScreen {
    
   /* Save & Kindness Buttons */ 
    .button{
    float: initial;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    
    
    /*
    * SKY
    */ 
    .sky{
    font-family: LoveYaLikeASister;  
    background: #b0ddd6;
    padding-top: 30px;
    padding-bottom: 90px;
        
        %cloud{
        position: absolute;
        z-index: 0;
        top: 150px;

        -ms-transition: -ms-transform 2s;
        -webkit-transition: webkit-transform 2s; /* Safari */
        transition: transform 2s;
        
        }

        .cloud1{
            @extend %cloud;
            top: 50px;
            left: -50px;
        }
        
        h1{ // sky button
           // @extend %button;
            position: absolute;            
            margin-top: 10px;
            margin-left: 40px;
        }
        
        .fixKindnessfont{
            font-size: 30px;   
        }
    }/* sky */
    
    .skyBeach{
        margin-top: -70px;
    }
    
    /*
    * BEACH
    */  
    .beach{
        margin-top: -10px;
        background: #fffdd7;
        font-family: Kindness;  
        font-size: 50pt;
        line-height: 20px;
        padding-bottom: 50px;
    
        .furniture{
            opacity: .5;
            width: 200px;
            top: 340px;
            left: 20px;
            position: absolute;
            pointer-events: none;
        }
        
        // BEACH BUTTON
        .button{
            margin: 50px;
        }
        h1{ 
            position: absolute;
            margin-top: 17.5px;
            margin-left: 75px;
            font-size: 90px;
        }// beach button
            
        .beachInput{
            padding: 20px;
            height: 60px;
            
            
            ::-webkit-input-placeholder {
                @include input-placeholder(black);
            }

            :-moz-placeholder { /* Firefox 18- */
                @include input-placeholder(black);  
            }

            ::-moz-placeholder {  /* Firefox 19+ */
                @include input-placeholder(black);  
            }

            :-ms-input-placeholder {  
                @include input-placeholder(black);  
            }
                    
            input{
                background: none;
                border: none;
                @include input-placeholder(black);
                line-height: 0px;
            }
            
            img{
                float: right;
                width: 35px;
                margin-top: 20px;
                margin-right: 10px;
            }
            
            .underline{
                pointer-events: none;
                font-size: 15vw;
            }
        }
    }

   .beachSea{ 
       margin-top: -10px;    
   }

    /*
    * SEA
    */ 
    .sea{
    margin-top: -12.5px;
    background: #b4e3eb;
    color: white;
    height: 800px;
    padding: 10px;
    padding-top: 20px;
        
        p{
        font-family: LoveYaLikeASister;
        line-height: 20px;
        width: 90%;
        font-size: 15px;
        margin-top: 0px;
        }
        
        .moreIcon{
        width: 30px;
        margin-top: -5px;
        position: absolute;
        right: 15px;  
        
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        
        -ms-transition: -ms-transform 2s;
        -webkit-transition: webkit-transform 2s; /* Safari */
        transition: transform 2s;
        }
        .sailboat{
        position: absolute; 
        z-index: 1;
        width: 250px;
        }
    

        #messagesDiv {
            margin-top: 40px;  
            width: auto;
            height: 600px;
            overflow: scroll;
            position: absolute; 
            z-index: 2;
            
            div{ 
                p {
                    font-family: Kindness; 
                    font-size: 25px;
                    width: 100%;
                    margin-bottom: 5px;
                }
                
                .divider{
                    font-size: 70px;
                    margin-bottom: 7.5px;
                }
                
                .deleteIcon{
                    float:right;
                    width: 15px;
                    margin-right: 15px;
                }
            }
        }
    }  
}